<%= form_with(model: option, class: "contents") do |form| %>
  <% if option.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(option.errors.count, "error") %> prohibited this option from being saved:</h2>

      <ul class="list-disc ml-6">
        <% option.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%# Campo oculto para associar a opção à pergunta correta %>
  <%= form.hidden_field :question_id %>

  <div class="my-5">
    <%= form.label :text, "Texto da Opção" %>
    <%= form.text_field :text, class: "block shadow rounded-md border p-2 mt-1 w-full" %>
  </div>

  <div class="my-5 flex items-center">
    <%# Usando um checkbox para o campo booleano 'correct' %>
    <%= form.check_box :correct, class: "h-4 w-4 rounded border-gray-300 text-blue-600 focus:ring-blue-600" %>
    <%= form.label :correct, "Esta é a resposta correta?", class: "ml-2 block text-sm text-gray-900" %>
  </div>

  <div class="inline">
    <%= form.submit "Salvar Opção", class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white font-medium cursor-pointer" %>
  </div>
<% end %>