<div id="<%= dom_id questionnaire %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Code:</strong>
    <%= questionnaire.code %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= questionnaire.title %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= questionnaire.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Duration minutes:</strong>
    <%= questionnaire.duration_minutes %>
  </div>
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= questionnaire.user_id %>
  </div>
</div>
