<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Questionários</h1>
    <%# O link de "Novo questionário" só aparece se o usuário tiver permissão %>
    <% if policy(Questionnaire).new? %>
      <%= link_to "Novo questionário", new_questionnaire_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    <% end %>
  </div>

  <div id="questionnaires" class="min-w-full mt-6">
    <% @questionnaires.each do |questionnaire| %>
      <div class="mb-4 p-4 border rounded-lg shadow-sm flex justify-between items-center">
        <div>
          <h2 class="text-xl font-bold"><%= questionnaire.title %></h2>
          <p class="text-gray-700"><%= questionnaire.description %></p>
          <p class="text-sm text-gray-500">Duração: <%= questionnaire.duration_minutes %> minutos</p>
        </div>
        <div>
          <%# --- NOVO BOTÃO PARA INICIAR O QUIZ --- %>
          <%= button_to "Iniciar Questionário", new_questionnaire_attempt_path(questionnaire), method: :get, class: "rounded-lg py-2 px-4 bg-green-600 text-white font-semibold" %>
        </div>
      </div>
    <% end %>
  </div>
</div>