<%= form_with(model: question) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>
      <ul class="list-disc ml-6">
        <% question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%# O campo oculto garante que a pergunta seja associada ao questionário correto %>
  <%= form.hidden_field :questionnaire_id %>

  <div class="my-5">
    <%= form.label :text, "Texto da Pergunta" %>
    <%= form.text_area :text, rows: 4, class: "block shadow rounded-md border p-2 mt-1 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit "Salvar Pergunta", class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white font-medium cursor-pointer" %>
  </div>
<% end %>